// Define variables for your color scheme

// For example:
$red: #EA5455;
$blue: #2D4059;
$yellow: #FFD460;
$orange: #F07B3F;
$green: #11D3BC;
$purple: #2F1B41;
$gray: #000000;
$light-gray: #F4F4F4;
$light-yellow: #F8F3D4;
